{% extends 'base.html' %}

{% block title %}HOME{% endblock %}

{% block body %}
    <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner container-fluid  px-0">
    <div class="carousel-item active">
      <img src="static/image/s1.avif" class="d-block w-100 mx-1 my-1 " alt="..." height="700px">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="letter-spacing: 1px; color: aliceblue; font-family: termina;">CREATIVE MIND,CREAIVE WORK</h5>
        <p style="font-size: 200%; font-family: termina; color:aliceblue; letter-spacing: 3px;">Inerior Designs From The Future.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/image/sl2.avif" class="d-block w-100 mx-1 my-1" alt="..." height="700px">
      <div class="carousel-caption d-none d-md-block">
        <p style="font-size: 200%; font-family: termina; color:black; letter-spacing: 2px; position: absolute; top: -50%; left: 25%">Creative Solution By Professional Designers</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/image/straight.jpg" class="d-block w-100 mx-1 my-1" alt="..." height="700px">
      <div class="carousel-caption d-none d-md-block">
          <p style="font-size: 200%; font-family: termina; color:aliceblue; letter-spacing: 2px; position: absolute; top: -50%; left: 25%">Design Your Dream House
with the Experts</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{#    card#}
    <div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h1 class= "text-center py-4"><strong style="color: orange; font-size: 70px;">Home</strong> Interiors</h1>
        <p class="" style="white-space:pre-wrap; font-size: 20px; letter-spacing:3px; text-align: center">We pride ourselves in serving our clients modular kitchens, kid’s rooms, living rooms, modular wardrobes etc., with excellent interiors that make them fall in love with the space. Would you like to make people go wow? If yes, then High Creation Interior is ready to take on your home interior project.
          </p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
                    <img src="static/image/s1.avif" class="d-block w-100 " alt="..." height="200px">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
                    <img src="static/image/L shape.jpg" class="d-block w-100" alt="..." height="200px">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="static/image/p1.png" class="d-block w-100" alt="..." height="200px">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
              <img src="static/image/p2.jpeg" class="d-block w-100" alt="..." height="200px">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="static/image/p3.jpg" class="d-block w-100" alt="..." height="200px">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="static/image/u Shape.jpg" class="d-block w-100" alt="..." height="200px">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
              <img src="static/image/p4.jpeg" class="d-block w-100" alt="..." height="200px">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="static/image/sl2.avif" class="d-block w-100" alt="..." height="200px">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="static/image/p5.png" class="d-block w-100" alt="..." height="200px">

\            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cor bg-dark">
    <h1 class= "text-center py-4"><strong style="color: orange; font-size: 70px;">Corporate</strong> <strong style="color:aliceblue">Interiors</strong></h1>
        <p class="" style="white-space:pre-wrap; font-size: 20px; letter-spacing:3px; text-align: center; color:white;">We pride ourselves in serving our clients having retail outlets, shops, restaurants, showrooms etc., with excellent interiors that make their visitors fall in love with space. Would you like to make people go wow? If yes, then High Creation Interior is ready to take on your corporate project.
          </p>
      <div class="mx-1 my-4 ">
        <IMG src="/static/image/c1.jpg" style="border-radius: 20px; margin-left: 15px" width="550px" height="400px">
        <img src="/static/image/c2.jpg"style="border-radius: 20px;" width="550px" height="400px">
        <img src="/static/image/c3.jpg" style="border-radius: 20px;" width="550px" height="400px">
      </div>
      <div class="mx-1">
        <IMG src="/static/image/c4.jpg" style="border-radius: 20px; margin-left: 15px" width="550px" height="400px">
        <img src="/static/image/c5.jpg"style="border-radius: 20px;" width="550px" height="400px">
        <img src="/static/image/c6.jpg" style="border-radius: 20px;" width="550px" height="400px">
      </div>
    <br>
    <br>
  </div>
{#    <hr>#}
    <div class="accordion bg-dark" id="accordionExample">
  <div class="accordion-item bg-light   ">
      <h1 class="text-center">Frequenty Ask Question</h1>
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>

{% endblock %}
